

<div class="alert alert-primary" role="alert">
    Click <a asp-controller="Auth" asp-action="ConfirmEmail"
             asp-route-id="@ViewBag.UserId"
             asp-route-EmailConfirmationToken="@ViewBag.EmailConfirmationToken"
             class="btn btn-outline-info">Here</a> to confirm your email!
</div>

